body,
html {
  padding: 2rem;
}
.preview {
  background-color: #dedede;
}
button {
  margin: 0.55rem 0 !important;
}
.preview p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.example {
  border: 1px solid lightgray;
  padding: 1.5rem;
  margin: 2rem 0;
}
span.method {
  background-color: lightgoldenrodyellow;
  font-style: normal;
}
video,
img {
  width: 100px;
}

@media only screen and (min-device-width: 340px) and (max-device-width: 480px) {
  body,
  html {
    padding: 1rem 0.55rem !important;
  }
  .example {
    padding: 0.75rem 0.5rem;
    border: none;
  }
  pre {
    padding: 0.5rem !important;
    position: relative;
  }
  code {
    position: relative;
    left: -50px !important;
    font-size: 0.75rem !important;
  }
}
